<a href="https://colab.research.google.com/github/JuanJoseMA2020/BigData/blob/main/Clase09_02_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np #Manejo de listas(Vectores)
import pandas as pd #Manejo del csv
import matplotlib.pyplot as plt #Visualizaciones
import seaborn as sns #Visualizaciones

Importamos la base de datos

In [9]:

df=pd.read_csv("/content/drive/MyDrive/IngenieriÃÅa de Sistemas/2023-1/BigData/StudentsPerformance.csv")
df.head(3)  #Sirve para dibujar las primeros cinco filas de DF

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

In [ ]:
df.info() #Sirve para mostrar los atributos del DF

In [12]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000